[user]
	email = 73185743+ZaneWillgruber@users.noreply.github.com
	name = Zane Willgruber
[init]
	defaultBranch = main
[fetch]
	prune = true
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
