@use "sass:color";
@use '/home/zane/.cache/wal/colors.scss' as *;

$bg: $background;
$fg: $foreground;
$accent: color.adjust($background, $lightness: 20%);
$radius: 8px;
$container-margin: 0px;

window.Bar {
    background-color: $background;
    color: $fg;
    font-family: JetbrainsMono Nerd Font;
    font-size: 15px;
    font-weight: bold;

    label {
        margin: 0 8px;
    }

    .padding-8 {
        padding: 4px;
    }

    .Workspaces {
        border-radius: $radius;
        padding: 0px 8px;
        margin: $container-margin;

        button {
            all: unset;
            background-color: transparent;

            &:hover label {
                background-color: $fg;
                color: $background;
                border-color: transparent;
            }

            &:active label {
                background-color: color.adjust($fg, $alpha: -0.8)
            }
        }

        label {
            transition: 200ms;
            padding: 0 8px;
            margin: 2px;
            color: $fg;
            border-radius: $radius;
            border: 2px solid;
        }

        .focused label {
            color: $background;
            background-color: $fg;
            border-color: transparent;
        }
    }

    .Tray {

        button {
            all: unset;
            background-color: transparent;
            transition: 200ms;
            padding: 0 4px;
            margin: 2px;
            color: $fg;
            border-radius: $radius;
            border: 2px solid;
        }

    }

    .BarComponent {
        border-radius: $radius;
        border-color: $foreground;
        border: 2px solid;
        padding-right: 8px;
        margin-left: 4px;

        * {
            all: unset;
        }

        image {
            margin-right: .6em;
            background-color: $foreground;
            color: $background;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 4px 0px 0px 4px;
        }
    }

    .Wifi {
        border-radius: $radius;
        border-color: $foreground;
        border: 2px solid;
        padding-right: 8px;
        margin-left: 4px;

        * {
            all: unset;
        }

        image {
            margin-right: .6em;
            background-color: $foreground;
            color: $background;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 4px 0px 0px 4px;
        }
    }

    .FocusedClient {
        color: $accent;
    }

    .Media {
        background-color: #66cc99;
        color: #2a5c45;
        border-radius: $radius;
        padding: 4px;
        margin: $container-margin;
    }

    .System {
        background-color: $foreground;
        padding: 0px 8px;
        margin-left: 8px;
        border-radius: 12px;
        color: $background;
    }

    .ArchLogo {
        background-color: $foreground;
        padding-right: 5px;
        margin-left: 8px;
        border-radius: 12px;
        color: $background;
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }

    .ModulesRight {
        background-color: #000000;
        border-radius: $radius;
        padding: 0px 80px;
    }

    .Battery label {
        padding-left: 0;
        margin-left: 0;
    }

    .AudioSlider {
        border-radius: $radius;
        border-color: $foreground;
        border: 2px solid;
        padding-right: 8px;
        margin-left: 4px;

        * {
            all: unset;
        }

        image {
            margin-right: .6em;
            background-color: $foreground;
            color: $background;
            padding-left: 8px;
            padding-right: 8px;
            border-radius: 4px 0px 0px 4px;
        }

    }
}